{% load static i18n %}
<div class="modal fade albiz-modal" id="main_modal_sm" tabindex="-1" aria-labelledby="main_modal_sm_title" aria-hidden="true" data-albiz-modal-size="sm">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main_modal_sm_title" data-albiz-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" role="alert" data-albiz-alert="danger"></div>
                <div class="alert alert-primary d-none" role="alert" data-albiz-alert="info"></div>
                <div data-albiz-modal-body></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade albiz-modal" id="main_modal_md" tabindex="-1" aria-labelledby="main_modal_md_title" aria-hidden="true" data-albiz-modal-size="md">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main_modal_md_title" data-albiz-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" role="alert" data-albiz-alert="danger"></div>
                <div class="alert alert-primary d-none" role="alert" data-albiz-alert="info"></div>
                <div data-albiz-modal-body></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade albiz-modal" id="main_modal" tabindex="-1" aria-labelledby="main_modal_title" aria-hidden="true" data-albiz-modal-size="default">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main_modal_title" data-albiz-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" role="alert" data-albiz-alert="danger"></div>
                <div class="alert alert-primary d-none" role="alert" data-albiz-alert="info"></div>
                <div data-albiz-modal-body></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade albiz-modal" id="main_modal_lg" tabindex="-1" aria-labelledby="main_modal_lg_title" aria-hidden="true" data-albiz-modal-size="lg">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main_modal_lg_title" data-albiz-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" role="alert" data-albiz-alert="danger"></div>
                <div class="alert alert-primary d-none" role="alert" data-albiz-alert="info"></div>
                <div data-albiz-modal-body></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade albiz-modal" id="main_modal_xl" tabindex="-1" aria-labelledby="main_modal_xl_title" aria-hidden="true" data-albiz-modal-size="xl">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main_modal_xl_title" data-albiz-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" role="alert" data-albiz-alert="danger"></div>
                <div class="alert alert-primary d-none" role="alert" data-albiz-alert="info"></div>
                <div data-albiz-modal-body></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade albiz-modal" id="main_modal_fs" tabindex="-1" aria-labelledby="main_modal_fs_title" aria-hidden="true" data-albiz-modal-size="fs">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main_modal_fs_title" data-albiz-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" role="alert" data-albiz-alert="danger"></div>
                <div class="alert alert-primary d-none" role="alert" data-albiz-alert="info"></div>
                <div data-albiz-modal-body></div>
            </div>
        </div>
    </div>
</div>
